@use 'sass:list';
$color-blue: #318eb1;
$color-red: #cc2741;
$color-pink: #da3280;
$color-green: #a7bb38;
$gridColumns: 12, 8, 6, 4;

$gridColors: $color-blue, $color-red, $color-pink, $color-green;

@mixin setupGrid($currentClass) {

    // switch to css modal global content
    :global {

        // Manage full width section
        .CanvasZone--fullWidth {
            .CanvasSection-xl12 {
                :local {
                    .baseGrid {
                        grid-template-columns: repeat(12, 1fr);
                    }
                }
            }
        }

        // Manage full width section
        .CanvasVerticalSection {
            .CanvasSection-xl12 {
                :local {
                    .baseGrid {
                        grid-template-columns: repeat(4, 1fr);
                        @media screen and (max-width: 1280px) {
                            grid-template-columns: repeat(12, 1fr);
                        }
                    }
                }
            }
        }

        // Itterate over all grid columns
        @each $gridCol in $gridColumns {

            // Set class to detect the grid columsn
            .CanvasSection-xl#{$gridCol} {

                // switch to local context
                :local {

                    // Configure grid for current class
                    #{$currentClass} {
                        box-sizing: border-box;
                        grid-template-columns: repeat(#{$gridCol}, 1fr);
                        border-width: 2px;
                        border-style: solid;
                        border-color: transparent;
                        border-color: list.nth($gridColors, list.index($gridColumns, $gridCol));
                        box-sizing: border-box;

                        @if ($gridCol == 12){
                            @media screen and (max-width: 1024px){
                                grid-template-columns: repeat(6, 1fr);
                            }
                        }
                       
                        @if ($gridCol == 4 or $gridCol == 8){
                            @media screen and (max-width: 1024px){
                                grid-template-columns: repeat(6, 1fr);
                            }
                        }

                        @if ($gridCol == 6){
                            @media screen and (max-width: 640px){
                                grid-template-columns: repeat(6, 1fr);
                            }
                        }

                        @media screen and (max-width: 480px) {
                            grid-template-columns: repeat(2, 1fr);
                        }

                    }

                }

            }

        }

    }

}