    .slot-100 {
    font: var(--customFont100);
}

.slot-200 {
    font: var(--customFont200);
}

.slot-300 {
    font: var(--customFont300);
}

.slot-400 {
    font: var(--customFont400);
}

.slot-500 {
    font: var(--customFont500);
}

.slot-600 {
    font: var(--customFont600);
}

.slot-700 {
    font: var(--customFont700);
}

.slot-800 {
    font: var(--customFont800);
}

.slot-900 {
    font: var(--customFont900);
}

.slot-1000 {
    font: var(--customFont1000);
}

.slot-1100 {
    font: var(--customFont1100);
}

.slot-1200 {
    font: var(--customFont1200);
}

.slot-1300 {
    font: var(--customFont1300);
}

.slot-1400 {
    font: var(--customFont1400);
}

.slot-1500 {
    font: var(--customFont1500);
}

.slot-1600 {
    font: var(--customFont1600);
}

.slot-1700 {
    font: var(--customFont1700);
}