    .slot-100 {
        font-family: var(--fontFamilyCustomFont100, var(--fontFamilyBase));
    }

    .slot-200 {
        font-family: var(--fontFamilyCustomFont200, var(--fontFamilyBase));
    }

    .slot-300 {
        font-family: var(--fontFamilyCustomFont300, var(--fontFamilyBase));
    }

    .slot-400 {
        font-family: var(--fontFamilyCustomFont400, var(--fontFamilyBase));
    }

    .slot-500 {
        font-family: var(--fontFamilyCustomFont500, var(--fontFamilyBase));
    }

    .slot-600 {
        font-family: var(--fontFamilyCustomFont600, var(--fontFamilyBase));
    }

    .slot-700 {
        font-family: var(--fontFamilyCustomFont700, var(--fontFamilyBase));
    }

    .slot-800 {
        font-family: var(--fontFamilyCustomFont800, var(--fontFamilyBase));
    }

    .slot-900 {
        font-family: var(--fontFamilyCustomFont900, var(--fontFamilyBase));
    }

    .slot-1000 {
        font-family: var(--fontFamilyCustomFont1000, var(--fontFamilyBase));
    }

    .slot-1100 {
        font-family: var(--fontFamilyCustomFont1100, var(--fontFamilyBase));
    }

    .slot-1200 {
        font-family: var(--fontFamilyCustomFont1200, var(--fontFamilyBase));
    }

    .slot-1300 {
        font-family: var(--fontFamilyCustomFont1300, var(--fontFamilyBase));
    }

    .slot-1400 {
        font-family: var(--fontFamilyCustomFont1400, var(--fontFamilyBase));
    }

    .slot-1500 {
        font-family: var(--fontFamilyCustomFont1500, var(--fontFamilyBase));
    }

    .slot-1600 {
        font-family: var(--fontFamilyCustomFont1600, var(--fontFamilyBase));
    }

    .slot-1700 {
        font-family: var(--fontFamilyCustomFont1700, var(--fontFamilyBase));
    }